@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.App {
  text-align: center;

}

#app{

}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.md-tabs.md-default-theme .md-ink-bar, .md-tabs .md-ink-bar {
  color: green !important;
  background-color:green !important;
}

.md-tab--inactive {
  color: #222222;
}

.md-card-text {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.md-card-title {
  padding-bottom: 0 !important;
}

.md-tab-indicator {
  color: #006ECC !important;
  background: #006ECC;
}

.fc-event {
  border: white;
  background: #006ECC !important;

}

#simple-tab-panel-1 {
  padding: 0px !important;
}

#simple-tab-panel-1 .md-grid {
  padding: 0px !important;
}

.fc-time-grid-event:hover{
  background: dodgerblue !important;
  border: dodgerblue !important;
  cursor: pointer;
}

#schedule-card {
  height: 80vh;
}


.md-progress--linear-active{
  background-color: #006ECC;
}
#curriculum-progress {
  overflow: auto;
  height: 59vh;
}

#curriculum-semesters {
 overflow: auto;
  height: 59vh;
}

#module-card {
  height: 80vh;
}

#courseList {
  height: 45vh;
  overflow-y: auto;
}
#courseListContainer {
  overflow-y: auto;
}

.md-card-text{
  overflow-y: auto;
}
