@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.App {
  text-align: center;

}

#app{

}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  height: 100vh;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.md-background--secondary {
  background: #006ECC;
  color: #fff;
}

.md-background--secondary-hover:hover{
  background: #448aff !important;
}

.md-tabs.md-default-theme .md-ink-bar, .md-tabs .md-ink-bar {
  color: green !important;
  background-color:green !important;
}

.md-tab--inactive {
  color: #222222;
}

.md-card-text {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.md-card-title {
  padding-bottom: 0 !important;
}

.md-tab-indicator {
  color: #006ECC !important;
  background: #006ECC;
}

.md-slider-track-fill{
  background-color: #006ECC;
}
.md-slider-thumb {
  background-color: #006ECC;
}

.md-slider-thumb--discrete-on::after{
  border-top-color: #006ECC;
}
.md-slider-label{
  font-size: 15px !important;
}
.md-text-field{
  font-size: 15px !important;
  font-weight: 200;
}

.fc-event {
  border: white;
  background: #006ECC !important;

}

.fc-event .fc-bg{
  opacity: 0  !important;
}

#simple-tab-panel-1 {
  padding: 0px !important;
}

#simple-tab-panel-1 .md-grid {
  padding: 0px !important;
}

.fc-time-grid-event:hover{
  background: #448aff !important;
  border: #448aff !important;
  cursor: pointer;
}

.md-progress--linear-active{
  background-color: #006ECC;
}

#snackBar{
  z-index: 100;
}

#curriculum-progress {
  overflow: auto;
  height: 59vh;
}

#curriculum-semesters {
 overflow: auto;
  height: 59vh;
}

#module-card {
  height: 82vh;
}

#schedule-card {
  height: 82vh;
}

#courseList {
  height: 45vh;
  overflow-y: auto;
}
#courseListContainer {
  overflow-y: auto;
}

.md-card-text{
  overflow-y: auto;
}

#searchField{
  margin-top: 0px;
}



#dayFilter{
  width: 200px;

}
#dayFilter-menu{
  width: 210px;
  padding-left: 7px;
}
#createCourseButton{
  height:42px;
  padding-bottom: 5px;
  margin-top: 15px;
  font-weight: 200;
  line-height: 14px;
}

#resetFilter {
  height:42px;
  font-weight: 200;
  line-height: 14px;
}

#createCourseCell{
  float: right;
}

#detail-course{
  overflow: hidden !important;
}
#select-field-semester{
  position: absolute;
}
.md-slider-thumb .md-slider-thumb--mask{

}

.md-fake-btn .md-pointer--hover .md-fake-btn--no-outline .md-slider-thumb .md-slider-thumb--on .md-slider-thumb--discrete{
  background-color: #006ECC;
}